.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}

.logo {
    width: 6rem;
}

.profile-width {
    width: 50px;
}

.admin-main {
    background-color: #f0f8ff;
}

.aside {
    background-color: #fafafa !important;
}

h1, h2, h4, h5, p {
    color: #212121 !important;
}

a.user-link {
    color: #212121;
    text-decoration: none;
    transition: all linear;
}

.user-link:hover {
    color: #0d6dfd70;
    padding-bottom: 1.5px;
    border-bottom: 1px solid #0074d955;
    transition-duration: .3s;
}

hr {
    margin: 1rem auto 1rem;
    width: 50%;
    border: 1 linear-gradient(#0059ffe3, #0059ffe3);
    border-radius: 20px;
}

.align-admins {
    text-align: center;
}
.p-sm {
    font-size: .8rem;
}

/* .bg-transparent {
    background-color: #f0f8ff !important;
} */

.n-border{
    border: none;
}