.dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}

.logo {
    width: 8rem;
}

.profile-width {
    width: 2.5rem;
}

.admin-main {
    background-color: #f0f8ff;
}

.aside {
    background-color: #fafafa !important;
}

h1, h2, h4, h5, p {
    color: #212121 !important;
}

a.user-link {
    color: #212121;
    text-decoration: none;
    transition: all linear;
}

.user-link:hover {
    color: #0d6dfd70;
    transition-duration: .3s;
}

hr {
    margin: 1rem auto 1rem;
    width: 50%;
    border: 1 linear-gradient(#0059ffe3, #0059ffe3);
    border-radius: 20px;
}

.align-admins {
    text-align: center;
}
.p-sm {
    font-size: 1rem;
}
.size-img{
    width: 5rem !important;
}

.full-screen-h-w{
    height: calc(100vh - 66px);
}

.n-border{
    border: none;
}

.over-flow-left{
    overflow-y: scroll;
    height: calc(100vh - 66px);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}