.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;

}

body {
    height: 100vh;
    background: linear-gradient(#0d6efd 50%, #fafafa 50%);
    background-repeat: no-repeat;
}

.header{

    font-size: large;
    color: #0d6efd;
    margin-right: auto;
}

.container-top {
    margin-top: 5vh;
    border-radius: 20px;
}