.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;

}
.container-top {
    margin-top: 5vh;
    border-radius: 20px;
}

body {
    height: 100vh;
    background: linear-gradient(#0d6efd 50%, #fafafa 50%);
    background-repeat: no-repeat;
}

.header{
    color: #0d6efd;
    margin-right: auto;
    font-size: x-large;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}

.modal-title{
    margin-left: auto;
    color: #0d6efd;
    font-size: xx-large;
   
}

.bi1{
    margin-left: 40%;
    margin-right: 40%;
    height: 30vh;
    width: 20%;
    color: rgb(9, 182, 9);
}

.navbar{
    height: 10vh;
    width: 100%;

}

.navbar-brand{
    height: 20vh;
    width: 10%;
    margin-top: 6%;
}

