.full-page{
    height: calc(100vh - 52px);
}
.ip-logbook-fullpage{
    height: 85vh;
}
.fk-img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: rgb(65, 141, 160);
}
.dropdown-menu{
    width: 2;
}
.image{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;

}